---
---

@import "{{ site.theme }}";

section {
    margin-top: 10px;
}

h1 {
    scroll-margin-top: 60px;
    margin-top: 60px;
    margin-bottom: 10px;
}


h2 {
    scroll-margin-top: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

h3, h4 {
    scroll-margin-top: 30px;
}


blockquote {
    border-left-color: #33CC44;
}

a {
    color: #33CC44;
}

a:hover {
    color: #5FEA6A;
}

#header {
    visibility: hidden;
}

.layoutTable th, .layoutTable td {
    border: none !important;
    background: transparent;
    text-align: center;
}
